<% include ../partials/boilerplate %>
	
	<div class="login-container">		
		<form method='POST' action='/auth/login'>
			<input class="login-box" name='username' type='text' placeholder='Username' required />
			<input class="login-box" name ='password' type='password' placeholder='Password' required />
			<input id="login-submit" type='submit' value='Log in!' />
		</form>		
	</div>

<% include ../partials/end %>